apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patches: # 
  - patch: | 
      # replace default targetRevision
      - op: replace
        path: "/spec/sources/1/targetRevision"
        value: "2.2.0"
      
      # add custom values
      - op: add
        path: "/spec/sources/1/helm/valueFiles/1"
        value: "$valuesRepo/environments/dev/external-secrets/custom-values/custom-values.yaml"
    target:
      kind: Application
      name: 1password-connect

resources:
- ../../../../base/external-secrets/