apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


patches: # 
  - patch: | 
      # replace default targetRevision
      - op: replace
        path: "/spec/sources/1/targetRevision"
        value: "2.2.0"
      
    target:
      kind: Application
      name: 1password-connect

resources:
- ../../../../base/external-secrets/