---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
    addresses:
    # IP range 10.20.0.88 - 10.20.0.95
    # the PROD network have first 100 IP not DHCP managed
    - 10.20.0.88/29

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-pool-advertisement
  namespace: metallb-system
spec:
  ipAddressPools:
  - default-pool