providers:
  kubernetesCRD:
    enabled: false # Disable legacy CRD provider
  kubernetesIngress:
    enabled: false # Disable legacy Ingress provider
  kubernetesGateway:
    enabled: true # Enable the new Gateway API provider

# This tells Traefik to create a service of type LoadBalancer.
service:
  type: LoadBalancer
  # We explicitly request the IP from our pool
  spec:
    loadBalancerIP: 10.20.0.90

# -- Traefik Gateway configuration
# Change listeners namespace policy to all namespaces
gateway:
  enabled: true
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 8443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - name: wildcard-dev-thebestpractice-tech-cert-tls