providers:
  kubernetesGateway:
    # -- Enable Traefik Gateway provider for Gateway API
    enabled: true

# -- Traefik Gateway configuration
# Change listeners namespace policy to all namespaces
gateway:
  enabled: true
  listeners:
    web:
      port: 8000
      protocol: HTTP
      namespacePolicy:
        from: All
    websecure:
      port: 8443
      protocol: HTTPS
      namespacePolicy:
        from: All
      mode: Terminate
      certificateRefs:
        - name: wildcard-dev-thebestpractice-tech-cert-tls